
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500&family=Montserrat:ital,wght@0,200;0,500;1,400&family=Red+Hat+Display:wght@500;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/pattern-background-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
}

.container {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    width: 350px;
    height: 570px;
    background-color: white;
    border-radius: 20px;
}

.hero-img{
    background-image: url(images/illustration-hero.svg);
    background-size: cover;
    background-repeat: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height:190px;
}

.card-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    text-align: center
}

.card-heading {
    padding-top: 20px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
}

.card-desc {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 14px;
    color: hsl(224, 23%, 55%);
    margin: 1.5em;
}

.plan-details {
    font-family: 'Red Hat Display', sans-serif;
    background-color: hsl(225, 100%, 98%);
    width:90%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.plan {
    padding-right: 50px;
    font-size: 14px;
}

.annual-plan {
    font-weight:600;
}
 .annual-price {
    color: hsl(224, 23%, 55%);
 }

 .link {
    font-size: 12px;
 }

 .payment_button {
    font-family: 'Red Hat Display', sans-serif;
    background-color: hsl(245, 75%, 52%);
    box-shadow: 4px 4px 4px rgb(125, 125, 196);
    color: white;
    font-size: 14px;
    font-weight: 600;
    width: 90%;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
 }

 .cancel_order {
    font-family: 'Red Hat Display', sans-serif;
    color: hsl(224, 23%, 55%);
    margin-top: 10px;
    font-size: 12px;
 }